doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="assets/styles/style.sass")
        title Document
    body
        include components/mixins

        header
            div.light.wrapper
                +menu(navigationMenu)
            div.main_conteiner.wrapper
                p.social_marketing SOCIAL MARKETING ANALYTICS
                h1.pricing_table Pricing Table
                div.pricing_table_p
                    p Lorem ipsum dolor sit amet, consectetur adipisicing
                    p elit, sed do eiusmod tempor incididunt ut
        main
            section#pricing.wrapper
                div.pricing_text
                    p#misocial
                        b MISOCIAL  
                    h2 Select a plan
                    p Lorem ipsum dolor sit amet, consectetur adipiscing
                    p elit, sed do eiusmod tempor incididunt ut.
                .grid.col_3.dark.cards
                    +card(cardsInfo.satelite)
                    +card(cardsInfo.marsohod)
                    +card(cardsInfo.rocket)
            section.main_get_started.aic
                div.lopata2
                    p SOCAL MARKETING ANALYTICS
                    h2 Take control of your data
                section#btns.dark
                    a(href="#" class="btn") get started
                    a(href="#" class="btn") explore features
        footer.wrapper
            div.dark
                +menu(navigationMenu)
            div.driver
            div.jcsb
                p.footer_p 2017 Mass Impressions Tranmautritam. Make the right impression.
                section#socials

script(type="module" src="/main.js")