doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/styles/style.sass")
        title Document
    body
        include components/mixins

        header
            +menu(navigationMenu)
        p SOCAL MARKETING ANALYTICS
        h1 Pricing Table
        p Lorem ipsum dolor sit amet, consectetur adipisicing
        p elit, sed do eiusmod tempor incididunt ut.
            
        main
            section#pricing
                p misocial
                h2 select a plan
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                
                .grid.col_3
                    +card(cardsInfo.satelite)
                    +card(cardsInfo.marsohod)
                    +card(cardsInfo.rocket)
            section#lopata
                p SOCAL MARKETING ANALYTICS
                h2 Take control of your data
            section#btns
                a(href="#" class="btn") get started
                a(href="#" class="btn2") explore features
        footer
            +menu(navigationMenu)
                p 2017 Mass Impressions Tranmautritam. Make the right impression.
            section#socials
                a(href="#" class="facebook")
                    img(src="#", alt="facebook")
                a(href="#" class="twitter")
                    img(src="#", alt="twitter")
                a(href="#" class="google")
                    img(src="#", alt="google")
                a(href="#" class="instagram")
                    img(src="#", alt="instagram")

script(type="module" src="/main.js")